header{
    color:white;
    background-color: blue;
}
.container{
    color:black;
    background-color: lightgrey;
}
#id2{
    color:red;
}
.highlight{
    color:green;
}
.main-content{
    background-color: yellow;
}
#id3{
    text-align: center;
}
a {
    text-decoration: none;
}
.Headings{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
.bold-text{
    font-weight: bold;
}
#intro{
    font-weight: 300;
}
body{
    font-family: Arial, sans-serif;
}
.custom-font{
    font-family: 'Times New Roman', serif;
}
#h7{
    text-transform: uppercase;
}
.capitalize-text{
    text-transform:capitalize ;
}