header{
    color:white;
    background-color: blue;
}
.container{
    color:black;
    background-color: lightgrey;
}
#id2{
    color:red;
}
.highlight{
    color:green;
}
.main-content{
    background-color: yellow;
}
#id3{
    text-align: center;
}
a {
    text-decoration: none;
}
.Headings{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}